<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 102%; max-width: 600px; background: rgba(255, 255, 255, 0.5);">
      <div class="card-body">
        <h2 class="text-center mb-4">Registro</h2>
        <form class="d-flex flex-column align-items-center">
          <div class="mb-4 w-100">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" placeholder="Nombre" required>
          </div>
          <div class="mb-4 w-100">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" required>
          </div>
          <div class="mb-4 w-100">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
          </div>
          <button type="submit" class="btn btn-primary w-100 mb-3" (click)="onRegister()">Registrarse</button>
          <div class="text-center w-100">
            <a href="#" (click)="navigateTo('/login')">¿Ya tienes cuenta? Inicia sesión</a>
          </div>
        </form>
      </div>
    </div>
  </div>