<div class="home-container">
    <header class="header">
      <div class="header-content">
        <span class="header-logo">ACME</span>
        <div class="header-icons">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
      </div>
    </header>
  
   
    <div class="main-content">
     
      <nav class="sidebar">
        <ul class="nav-list">
          <li><a href="#">Rutas</a></li>
          <li><a href="#">Historial</a></li>
          <li><a href="#">Configuración</a></li>
          <li><a href="#">Soporte Técnico</a></li>
          <li class="logout"><a href="#">Cerrar Sesión</a></li>
        </ul>
      </nav>
  
      
      <div class="central-content">
        <div class="card-container">
          
          <div class="long-card">
            <h3>Cómo la Tecnología de Rutas Optimiza el Transporte en 2024</h3>
            <p>La industria del transporte está experimentando una transformación significativa en 2024  de rutas...</p>
            <a href="#" (click)="navigateTo($event, '/noticia')" class="card-link">Noticias</a>
          </div>
  
         
          <div class="card">
            <h3>Ingreso de Agente</h3>
            <a href="#" (click)="navigateTo($event, '/ingreso')">Ir a Ingreso de Agente</a>
          </div>
          <div class="card">
            <h3>Reporte</h3>
            <a href="#" (click)="navigateTo($event, '/report')">Ir a Reporte</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
